<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Local Ranking</title>
<style>
* {
margin: 0px;
padding: 0px;
}
a:link, a:visited, a:active {
text-decoration: none;
color: #0000CC;
}
a:hover {
text-decoration: underline;
color: #0099FF;
}


.image_div {
margin-left: 8px;
height: 128px;
min-width: 640px;
overflow: hidden;
display: block;
}
.image_div img{
float:left;
}
.text_div {
margin-left: 132px;
margin-top: 4px;
font-size: 14px;
}
.page_div {
font-size: 16px;
margin-left: 16px;
}
</style>
</head>

<body>
<div id="context">
<table border=0>
{% for db_illust in ranking %}
<tr><td>
<div class="image_div">
{% if db_illust.tweet_id is valid_tweetid %}
    <a href="http://t.qq.com/p/t/{{ db_illust.tweet_id }}" target="_blank">
{% endif %}
	<img src="{{ db_illust.thumb_url }}" width="128px" height="128px" alt="微博ID: {{ db_illust.tweet_id }}" />
{% if db_illust.tweet_id is valid_tweetid %}
    </a>
{% endif %}
	<div class="text_div">
        <span><a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id={{ db_illust.illust_id }}" target="_blank">标题: [{{ db_illust.title }}]</a></span><BR>
        <span>发表日期: {{ db_illust.date }}]</span><BR>
        <span><a href="http://www.pixiv.net/member.php?id={{ db_illust.author_id }}" target="_blank">作者: [{{ db_illust.author_name }}]</a></span><BR>
        <span>point: {{ db_illust.point }}</span><BR>
        <span>views: {{ db_illust.views }}</span><BR>
        <span>feedback: {{ db_illust.feedback }}</span><BR>
{% if not db_illust.tweet_id is valid_tweetid %}
        <span><a href="/retweet_illust?illust_id={{ db_illust.illust_id }}" target="_blank">发表到微博</a>&nbsp;<a href="/disable_illust?illust_id={{ db_illust.illust_id }}" target="_blank">屏蔽该作品</a></span>
{% endif %}
    </div>
</div>
</td></tr>
{% endfor %}
<tr><td>
<div class="page_div">
{% if page > 0 %}
<a href="{{ ranking_uri }}page={{ page-1 }}"><<</a>&nbsp;
{% endif %}
page {{ page }}&nbsp;<a href="{{ ranking_uri }}page={{ page+1 }}">>></a>
</div>
</td></tr>
</table>
</div>
</body>
</html>