<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PixivBot设置</title>
<style>
* { margin:0; padding:0; }
#content {
font-size: 16px;
padding: 5px;
}
#content span {
margin: 3px;
display: block;
}
#content input {
font-family: '宋体';
}
</style>
</head>
<body>
<div id="content">
<form action="/admin/setup" method="post">
<span>启用配置：<input name="enable_config" type="checkbox" {{ bot_configs.enable_config|checkbox }}></span>
<BR>
<span>AppKey：<input name="oauth2_appkey" type="text" value="{{ bot_configs.oauth2_appkey }}" maxlength="32" size="12"></span>
<span>AppSecert：<input name="oauth2_appsecert" type="text" value="{{ bot_configs.oauth2_appsecert }}" maxlength="32" size="36"></span>
<span>Callback URL：<input name="oauth2_callbackurl" type="text" value="{{ bot_configs.oauth2_callbackurl }}" maxlength="45" size="46"></span>
<span>AccessToken：<input name="oauth2_accesstoken" type="text" value="{{ bot_configs.oauth2_accesstoken }}" maxlength="32" size="36"></span>
<span>OpenID：<input name="oauth2_openid" type="text" value="{{ bot_configs.oauth2_openid }}" maxlength="32" size="36"></span>
<BR>
<span>Pixiv用户名：<input name="pixiv_user" type="text" value="{{ bot_configs.pixiv_user }}" maxlength="64" size="12"></span>
<span>Pixiv密码：<input name="pixiv_pass" type="text" value="{{ bot_configs.pixiv_pass }}" maxlength="64" size="12"></span>
<BR>
<span>日榜分数限制：<input name="rank_point_limit" type="text" value="{{ bot_configs.rank_point_limit }}" maxlength="12" size="12">&nbsp;[建议：5000]</span>
<span>日榜翻页限制：<input name="rank_max_page" type="text" value="{{ bot_configs.rank_max_page }}" maxlength="12" size="12">&nbsp;[建议：10]</span>
<span>推送话题：<input name="tweet_tag_name" type="text" value="{{ bot_configs.tweet_tag_name }}" maxlength="32" size="32"></span>
<BR>
<span>自动推送：<input name="enable_cronjob" type="checkbox" {{ bot_configs.enable_cronjob|checkbox }}>&nbsp;&nbsp;&nbsp;
自动抓取：<input name="enable_crawljobs" type="checkbox" {{ bot_configs.enable_crawljobs|checkbox }}></span>
<BR>
<input name="submit" type="submit" value="&nbsp;更新&nbsp;" />
</form>
</div>
</body>
</html>